.acordeon__head {
    margin: 20px;
    background: #ecf0f1;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: .90em;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.5) inset;
}

.acordeon__body {
    position: relative;
    top: 90px;
    background: #1a252f;
    height: 0;
    /* transition: height .4s ease-in-out; */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
}

.acordeon__body__menu {
    list-style: none;
}

.acordeon__body__menu li {
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
    padding: .90em;
}

.acordeon__body__menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1em 0 1em 1.5em;
    font-size: .95em;
    line-height: 1.2em;
    font-weight: 600;
}